<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<bean id="p1" class="com.demo.beans.Product">
		<property name="pid" value="101"></property>
		<property name="pname" value="Chips"></property>
	</bean>
	
	<bean id="c1" class="com.demo.beans.Customer">
		<property name="cid" value="1001"></property>
		<property name="cname" value="Aryman"></property>
	</bean>
	<bean id="placeHolderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="data.properties"></property>
	</bean>
	<bean id="pC" class="com.demo.beans.Product">
		<property name="pid" value="${pC.pid}"></property>
		<property name="pname" value="{pC.pname}"></property>
	</bean>


</beans>